<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AfyaChain - Revolutionizing Healthcare Management</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <i class="fa-solid fa-stethoscope"></i>
                <h3>AfyaChain</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="login">LOGIN</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome to <span>AfyaChain:</span> Revolutionizing Healthcare Management</h1>
                <p>Transform your healthcare practice with our blockchain-based EMR and HMIS.</p>
                <a href="#demo" class="cta-button">Request a Demo</a>
            </div>
        </section>
        <section class="call-to-action">
            <div class="call-action">
                <h2><img src="/static/images/transformation.png" alt="transformation" srcset=""> Transform Your Healthcare Practice Today!</h2>
                <p>Experience the power of blockchain technology in healthcare with AfyaChain. Sign up now to schedule a personalized demo and see how our platform can revolutionize your practice. Join us on the journey to a more secure, efficient, and transparent healthcare system.</p>
                <a href="#demo" class="cta-button">Schedule Your Demo</a>
            </div>
        </section>
        <section id="features" class="feature-section">
            <div class="container">
                <div class="feature">
                    <img src="/static/images/transformation.png" alt="transformation" srcset=""> 
                    <h2>Transformative Healthcare Solutions</h2>
                    <p>At AfyaChain, we are dedicated to revolutionizing the way healthcare is managed and delivered. Our advanced blockchain-based Electronic Medical Records (EMR) and Health Management Information System (HMIS) provide a secure, transparent, and efficient platform to streamline patient care, data management, and administrative tasks.</p>
                    <a href="#features" class="cta-button">Explore Our Features</a>
                </div>

                <div class="feature">
                    <img src="/static/images/empower.png" alt="empower" srcset="">
                    <h2>Empowering Healthcare Providers</h2>
                    <p>Our platform is designed with healthcare providers in mind, offering tools to simplify their daily tasks and enhance patient care. From managing patient records to billing and claims, AfyaChain provides a comprehensive suite of solutions to streamline your practice.</p>
                    <a href="#how-it-works" class="cta-button">See How It Works</a>
                </div>

                <div class="feature">
                    <img src="/static/images/secure.png" alt="secure" srcset=""> 
                    <h2>Secure and Transparent Data Management</h2>
                    <p>Data security and transparency are at the core of AfyaChain. Leveraging blockchain technology, our platform ensures that patient data is immutable, secure, and accessible only to authorized users. This guarantees privacy and builds trust between patients and healthcare providers.</p>
                    <a href="#security" class="cta-button">Learn More</a>
                </div>

                <div class="feature">
                    <img src="/static/images/seamless.png" alt="seamless" srcset=""> 
                    <h2>Seamless Integration and Customization</h2>
                    <p>AfyaChain is built to fit seamlessly into existing healthcare workflows. Our system is highly customizable, allowing for integration with various medical devices, third-party applications, and existing records systems. Tailor the platform to meet the unique needs of your organization.</p>
                    <a href="#integration" class="cta-button">Get Started</a>
                </div>

                <div class="feature">
                    <img src="/static/images/user-centered.png" alt="user-centered" srcset=""> 
                    <h2>User-Centric Design and Accessibility</h2>
                    <p>We believe in making healthcare technology accessible to everyone. Our user-friendly interface is designed with accessibility in mind, ensuring that all users, regardless of their technical expertise or physical abilities, can navigate and utilize the platform effectively.</p>
                    <a href="#design" class="cta-button">View Interface</a>
                </div>

                <div class="feature">
                    <img src="/static/images/join.png" alt="" srcset=""> 
                    <h2>Join the Healthcare Revolution Today</h2>
                    <p>Ready to transform your healthcare management? Join AfyaChain today and be part of the future of healthcare. Our team is dedicated to providing you with the tools and support you need to succeed. Don’t miss out on this opportunity to enhance patient care, improve data management, and streamline your practice.</p>
                    <a href="#demo" class="cta-button">Request a Demo</a>
                    <a href="#contact" class="cta-button">Contact Us</a>
                </div>
            </div>
        </section>

        <section class="card-section">
            <h2><span>Why</span> AfyaChain?</h2>
            <div class="container">
                <div class="card">
                    <h3><img src="/static/images/lock.png" alt="" srcset=""> Unmatched Security</h3>
                    <p>Our blockchain-based system ensures the highest level of security for patient records with end-to-end encryption and immutable data storage.</p>
                </div>
                <div class="card">
                    <h3><img src="/static/images/clock.png" alt="" srcset=""> Immediate Data Access</h3>
                    <p>Get real-time updates on patient data and access critical information anytime, anywhere.</p>
                </div>
                <div class="card">
                    <h3><img src="/static/images/graph.png" alt="" srcset=""> Advanced Analytics</h3>
                    <p>Utilize powerful analytics tools to gain insights into patient care and operational efficiency.</p>
                </div>
                <div class="card">
                    <h3><img src="/static/images/integration.png" alt=""> Effortless Integration</h3>
                    <p>Integrate with existing systems and devices seamlessly with our flexible APIs and customizable options.</p>
                </div>
                <div class="card">
                    <h3><img src="/static/images/accessibility.png" alt="" srcset=""> Easy to Use</h3>
                    <p>Designed with simplicity in mind, our platform is intuitive and easy for all users to navigate.</p>
                </div>
                <div class="card">
                    <h3><img src="/static/images/settings.png" alt="" srcset=""> Tailored Solutions</h3>
                    <p>Customize the platform to meet your specific needs with our versatile and scalable architecture.</p>
                </div>
            </div>
        </section>
        <section id="testimonial" class="testimonial-section">
            <h2>What Our Users Say</h2>
            <div class="container">
                <div class="testimonial">
                    <img src="/static/images/doctor.jpg" alt="User 1">
                    <blockquote>
                        <p>"AfyaChain has transformed the way we manage patient records. The security and efficiency of the system have improved our workflow significantly."</p>
                        <footer>- Dr. Jane Doe, Healthcare Provider</footer>
                    </blockquote>
                </div>
                <div class="testimonial">
                    <img src="/static/images/man.jpg" alt="User 2">
                    <blockquote>
                        <p>"The integration capabilities of AfyaChain are outstanding. We were able to seamlessly connect it with our existing systems."</p>
                        <footer>- John Smith, IT Administrator</footer>
                    </blockquote>
                </div>
                <div class="testimonial">
                    <img src="/static/images/doctor1.jpg" alt="User 3">
                    <blockquote>
                        <p>"With AfyaChain, we have peace of mind knowing that our patient data is secure and accessible only to authorized personnel."</p>
                        <footer>- Sarah Lee, Medical Director</footer>
                    </blockquote>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="logo">
                <i class="fa-solid fa-stethoscope"></i>
                <h3>AfyaChain</h3>
            </div>
            <p>&copy; 2024 AfyaChain. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="login">LOGIN</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
