<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AfyaChain - Revolutionizing Healthcare Management</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <i class="fa-solid fa-stethoscope"></i>
                <h3>AfyaChain</h3>
            </div>
            <nav>
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="form-container">
            <h2>Hospital Facility Signup</h2>
            <div class="form-card">
                <img src="/static/images/signup.jpg" alt="">
                    <form action="/facilityReg" method="POST">
                        <div class="form-group">
                            <label for="facility-name">Facility Name</label>
                            <input type="text" id="facility-name" name="facility-name" required>
                        </div>
                        <div class="form-group">
                            <label for="registration-number">Registration Number</label>
                            <input type="text" id="registration-number" name="registration-number" required>
                        </div>
                        <div class="form-group">
                            <label for="phone-number">Phone Number</label>
                            <input type="tel" id="phone-number" name="phone-number" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                            <small>Password must contain:<br>
                                • At least 8 characters<br>
                                • At least one Uppercase character (A-Z)<br>
                                • At least one Lowercase character (a-z)<br>
                                • At least one number (0-9)<br>
                                • At least one Special character (~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/)</small>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">Confirm Password</label>
                            <input type="password" id="confirm-password" name="confirm-password" required>
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" id="country" name="country" required>
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" required>
                        </div>
                        <div class="form-group">
                            <label>Preferences</label>
                            <div class="form-group checkbox-group">
                                <input type="checkbox" id="updates" name="updates">
                                <label for="updates">Receive timely updates with the latest medical news and healthcare tips from us.</label>
                            </div>
                            <div class="form-group checkbox-group">
                                <input type="checkbox" id="terms" name="terms" required>
                                <label for="terms">By clicking here you agree with our Terms Of Use.</label>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" class="back" onclick="window.history.back();">Back</button>
                            <button type="submit" class="register">Register</button>
                        </div>
                    </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="logo">
                <i class="fa-solid fa-stethoscope"></i>
                <h3>AfyaChain</h3>
            </div>
            <p>&copy; 2024 AfyaChain. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <script src="/static/js/scripts.js"></script>
</body>
</html>






